<html>
<link rel="icon" 
      type="image/ico" 
      href="logo.ico">
	<body>
	<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/contact">Reviews</a></li>
				<li><a href="/repairs">Services</a></li>
				<li class="current_page_item"><a href="/contact">Contact</a></li>
			</ul>
		</div>
	<%= render 'layouts/header' %>
	<div id="wrapper">
		<!-- end #header -->
		<div id="page">
		<div id='left_side'>
			<%= render 'ads/google' %>
		</div>
			<div id="page-bgtop">
				<div id="page-bgbtm">
					<div id="content">
						<div class="post">
							<div style="clear: both;">&nbsp;</div>
							<div class="entry">
								<div align="center">
									<img src="/assets/images/card.jpg">
								</div>
							</div>
						</div>
					</div>
					<!-- end #content -->
					<div id="sidebar">
						<%= render 'ads/google_right' %>
					</div>
					<!-- end #sidebar -->
					<div style="clear: both;">&nbsp;</div>
				</div>
			</div>
		</div>
		<!-- end #page -->
	</div>
	<%= render 'ads/google_top' %>
	<%= render 'layouts/footer' %>
	<!-- end #footer -->
	</body>
</html>
